$flatBlack:#3d3d3d;
$flatBlackAlt:#4b4b4b;

$flatGreen:#27ae60;
$flatGreenAlt:#2ecc71;

$flatRed:#c23616;
$flatRedAlt:#e84118;

$flatBlue:#4834d4;
$flatBlueAlt:#686de0;

$flatViolet: #130f40;
$flatVioletAlt: #30336b;

$flatYellow:#f9ca24;
$flatYellowAlt:#f6e58d;

$flatSilver:#bdc3c7;
$flatSilverAlt:#ecf0f1;